<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>

    <add key="ArchivalMethod" value="1"/> <!--How to filter the files: value 0 for archival based on log file creation date/month(Date Created)
                                                                       value 1 for archival based on date/month embedded in filename, like the date "2019-01-11" in log file "DMSweb_2019-01-11_06.log"-->
    <add key="SourceFolder" value="D:\BPS\DMS\Logs"/>
    <add key="DestinationFolder" value="D:\BPS\DMS\Logs\Temp"/>
    <add key="MonthCount" value="8"/>  <!-- Eg.: If current month is Dec19 and logs to be archived till Nov19 then enter value = 1-->
                                                 <!-- Same way if current month is Dec19 and logs to be archived till Apr19 then enter value = 8 i.e. diff b/w Dec and Apr = 8-->
    <add key="7ZipExe" value="C:\Program Files\7-Zip\7z.exe"/>

    <!--Email Configuration Settings. -->
    <add key="Host" value="smtp.svcs.entsvcs.com"></add>
    <add key="Port" value="25"></add>
    <add key="UserId" value=""></add>
    <add key="Password" value=""></add>
    <add key="Domain" value=""></add>
    <add key="From" value="dmssupport@dms.com"></add>
    <add key="ReplyTo" value="chethan.m-b@dxc.com"></add>
    <add key="To" value="chethan.m-b@dxc.com.com"></add>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
