<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <appSettings>

    <add key="ArchivalMethod" value="1"/> <!--How to filter the files: value 0 for archival based on log file creation date/month(Date Created)
                                                                       value 1 for archival based on date/month embedded in filename, like the date "2019-01-11" in log file "DMSweb_2019-01-11_06.log"-->
    <add key="SourceFolder" value="D:\BPS\DMS\Logs\"/>
    <add key="DestinationFolder" value="D:\BPS\DMS\Logs\Temp\"/> <!--Include "\" as last character in path Eg: D:\...\....\Temp\-->
    <add key="ZipDestinationFolder" value="D:\BPS\DMS\Logs\ArchivedFiles\"/>
         
    <add key="NoOfDays" value="180"/>  <!-- Eg: value="30" - app will compress log files except the last 30 days files-->
                                      <!-- Eg: value="180" - app will compress log files except the last 180 days files-->
    <add key="7ZipExe" value="C:\Program Files\7-Zip\7z.exe"/>
    <add key="nCPUThrds" value="2"/> <!-- -mmt[N] : set number of CPU threads(1 to N depending on the CPU) to be used for compression, more no. of threads faster the compression but it does put more load on the system-->
    <add key="CmprssnLvl" value="7"/> <!-- -mx[N] : set compression level: 1 (fastest but less compression) ... 9 (slowest but more compression) -->
    <add key="HostName" value="IN5CG6051FW8"/>
    
    <!--Email Configuration Settings. -->
    <add key="Host" value="smtp.svcs.entsvcs.com"></add>
    <add key="Port" value="25"></add>
    <add key="UserId" value=""></add>
    <add key="Password" value=""></add>
    <add key="Domain" value=""></add>
    <add key="From" value="test@dxc.com"></add>
    <add key="ReplyTo" value=""></add>
    <add key="To" value="chethan.m-b@dxc.com"></add>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
