<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>

  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="BatchDMSArchive" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add source="Enterprise Library Logging" formatter="" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Formatted EventLog TraceListener"/>
      <add fileName="DataPackagingExceptionLog\PackagingException.log" rollSizeKB="1000" timeStampPattern="yyyy-MM-dd" rollFileExistsBehavior="Increment" rollInterval="None" formatter="DMS Text Formatter" header="----------------------------------------" footer="----------------------------------------" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Rolling Flat File Trace Listener"/>
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}
Category: {severity}
Message: {message}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="DMS Text Formatter"/>
    </formatters>

    <categorySources>
      <!--
      Critical
      Error
      Warning
      Information
      Verbose
      Off
      All
      -->

      <add switchValue="Information" name="Reporting">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
    </categorySources>

    <specialSources>
      <errors switchValue="Information" name="Data Packaging Details">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </errors>
    </specialSources>

  </loggingConfiguration>

  <appSettings>
    <add key="Image" value="Image"/>
    <add key="Attachments" value="Attachments"/>
    <add key="XML_DATA_File" value="MetaData"/>

    <add key="PACKAGE_DATA" value="C:\Configuration\Package.xml"/>

    <add key="SourceFolder" value="D:\BPS\DMS\Logs"/>
    <add key="DMSZIP_TemporaryFolder" value="D:\BPS\DMS\Logs\Temp"/>
    <add key="DestinationFolder" value="D:\BPS\DMS\Logs\ArchivedLogs"/>
    <add key="CountOfMonthsToBeArchived" value="1"/>  <!-- Eg.: If current month is Dec19 and logs to be archived till Nov19 then enter value = 1-->
                                                      <!-- Same way if current month is Dec19 and logs to be archived till Apr19 then enter value = 8 i.e. diff b/w Dec and Apr = 8-->
    <add key="7Zip" value="C:\Program Files\7-Zip\7z.exe"/>

    <add key="EnableGPGEncryption" value="False"/>
    <add key="GPGExePath" value="C:\Program Files\GNU\GnuPG\gpg.exe"/>
    <add key="HomeDirPath" value="C:\Program Files\GNU\GnuPG\home"/>
    <add key="EncryptionPublicKeyName" value="pubKey"/>

    <!-- XMLNode Name-->
    <!-- Customer_ID and Company_Code are mandatory in folder levels. Otherwise application wont work-->
    <add key="Level1" value="Customer_ID"/>
    <add key="Level2" value="Company_Code"/>
    <add key="Level3" value="Business_Unit"/>
    <add key="Level4" value="Batch_Number"/>

    <!-- This value is used while naming the Reconciliation file -->
    <add key="CharactersCount_FileName" value="35"/>

    <!-- The value will be the level name which is listed in the config file.-->
    <!--add key="FolderBase" value="Level4"/-->

    <add key="MachineName" value="SNN_CITE"/>
    <add key="CustomerName" value="SNN"/>
    <add key="EncryptionString" value="P@ssw0rd"/>

    <!-- Values that used for naming the zip file.-->
    <add key="Target_Id" value="FILE"/>
    <add key="Data_Subject" value="Log_Archive"/>
    <add key="App_Id" value="WebLogs"/>

    <!--Email Configuration Settings. -->
    <add key="Host" value="smtp.svcs.entsvcs.com"></add>
    <add key="Port" value="25"></add>
    <add key="UserId" value=""></add>
    <add key="Password" value=""></add>
    <add key="Domain" value=""></add>
    <add key="From" value="dmssupport@dms.com"></add>
    <add key="ReplyTo" value="chethan.m-b@dxc.com"></add>
    <add key="To" value="chethan.m-b@dxc.com.com"></add>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
